h1 {
  text-align: center;
  font-size: 50px;
  padding: 1%;
  font-family: 'Sacramento', cursive;
  color: #665700;
}

h2 {
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 18px;
  color: #665700;
}
body {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 14px;
  background-color: #e6fff2;
}
header {
  background: white;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 2%;
}

#invite {
  width: 50%;
  text-align: center;
  vertical-align: central;
}

#main {
  width: 50%;
  text-align: center;
}

#backgroundDesign {
    width: 60%;
    height: 500px;
    text-align: center;
}

button {
    background-color: white;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form div {
  display: block;
  padding: 1%;
  text-align: right;
}