h1 {
  text-align: center;
  font-size: 50px;
  padding: 1%;
  font-family: 'Sacramento', cursive;
  color: #665700;
}

h2 {
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 18px;
  color: #665700;
}
body {
  font-family: "calibri";
  font-size:12;
  background-color: #e6fff2;
}
header {
  background: white;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: blue;
  justify-content: center;
  align-content: center;
}

#invite {
  background-color: red;
  height: 25%;
  width:50%;
}

